.edit-custom{
    min-width: 15px;
    height: 25px;
    padding-top: 3px;
    padding-left: 5px;
    margin-top: 15px;
}
.edit-custom > i{
    font-size: 17px;
}
.padding{
    padding-left: 150px;
}
.box-info{
    padding-left: 20px;
}
.submit-input{
    width: 100px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.add_button{
    float: right;
    margin-top: 15px;
}
.add_button a,.btn-del a{
    color: white;
}
.btn-del{
    margin: 0 auto;
    width: 60px;
    margin-top: 15px;
}
.btn-del a{
   line-height: 5px;

}
.btn.btn-flat{
    border-radius: 3px !important;
}
.td_padding{
    padding-top: 0;
    padding-bottom: 0;
}
#admin-table_filter label,#admin-table_paginate{
    float: right;
    padding-right: 0px;
}
.panel-body{
    padding-top: 100px;
}
